<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saarthak.a7minuteworkout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".model.HistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".model.BmiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MDTheme" />
        <activity
            android:name=".model.CustomizeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".model.FinishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".model.ExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>